/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.home-carousel .dark-mask {
  opacity: 0.1;
  filter: alpha(opacity=10);
}

div.col-md-12 p.pull-right {
  display: none;
}